@import "common";
@import url("user_nav.css");

body {
  background-color: $main-background;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: $body-background;
  
  &:visited { color: $main-background; }
  img {
    border: none; }
  color: #0000FF; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }



#container {
  width: 90%;
  margin: 0 auto;
  background-color: $main-background;
  color: $main-text;
  padding: 20px 40px;
  border: solid 1px black;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  p {
    margin: 8px 10px; }
  ul {
    margin: 0; } }

#content-body {
  background: url($base-url + "images/cont-bg.jpg") repeat scroll 0 0 transparent;
  background-color: $body-background;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 990px;
  div {
    padding: 1em; } }

/* Forms */

div.input label:first-child {
  display: block; }

form ul li {
  list-style: none; }

fieldset {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: $body-background;
  margin-bottom: 1em;
  legend {
    border: 1px solid black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: $main-background; }
  &.divider {
    clear: both; }
  &.even {
    text-align: center; }
  &.flow {
    float: left;
    padding-right: 1em; } }

:checked + label span {
  font-weight: bold; }

input {
  &[type="button"], &[type="submit"] {
    font-family: Verdana,Helvetica,Arial;
    font-size: 14px;
    border-style: solid;
    border-width: 1px 4px 4px 1px;
    text-decoration: none;
    padding: 8px;
    color: $main-text;
    background-color: transparent;
    border-color: $main-background;
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }

button {
  border-style: solid;
  border-width: 1px 4px 4px 1px;
  text-decoration: none;
  padding: 8px;
  color: $main-text;
  border-color: $main-background;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* Specific Forms */

form#new_store {
  width: 67em;
  margin-bottom: 2em;
  overflow: auto;
  height: 1%;
  fieldset {
    width: 400px;
    div.input {
      width: 380px;
    }
    &.divider {
      width: 850px; }
    &.divider>div {
      &.input {
        width: 100%; }
      &.input>span {
        width: 32%;
        display: inline-block;
        text-align: left; } } }
  .actions {
    display: table;
    margin: 0px auto; } }
