@import url("user_nav.css");

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 50px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#content-body
{
  margin-top: 30px;
  background-color: #FFF;
}

#content-body div
{
  padding: 1em;
}

/* Forms */

div.input label:first-child
{
  display: block;
}

form ul li 
{
  list-style: none;
}

fieldset
{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: lightblue;
  margin-bottom: 1em;
}

fieldset legend
{
  border: 1px solid black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
}

fieldset.divider{
  clear: both;
}

fieldset.even {
  text-align:center;
}

fieldset.flow
{
  float: left;
  padding-right: 1em;

}

:checked + label span
{
  font-weight: bold;
}

input[type="button"], input[type="submit"], button{
 border-style: solid;
 border-width : 1px 4px 4px 1px;
 text-decoration : none;
 padding : 8px;
 border-color : #4B7399;
 background-color: white;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

/* Specific Forms */
form#new_store { 
  width: 67em;
  margin-bottom: 2em;
  overflow: auto;
  height: 1%;
}

form#new_store fieldset {
  width: 31em;
}

form#new_store fieldset div.input {
  width: 29em;
  margin-left: auto;
  margin-right: auto;
}

form#new_store fieldset.divider{
  width: 64.6em;
}

form#new_store fieldset.divider>div.input {
  width: 100%;
}

form#new_store fieldset.divider>div.input>span{
  width: 20em;
  display: inline-block;
  text-align: left;
}

form#new_store .actions
{
display: table;
margin: 0px auto;
}
