#container {
  width: 100% !important;
  padding: 0 !important;
  border-width: 0 !important;
}

#map-container
{
position: absolute;
width: 100%;
padding: 0px;
margin: 0px;
border: 0px;
margin-top: 30px;
}

#map {
  position: absolute;
  height: 700px;
  width: 70%;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

#search {
  float: right;
  background-color: #FFF;
  padding: 0px;
}

#map-side-bar {
  display: none;
}